<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=yes,
  initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>

  <title>Kemet</title>

  <link href="javascripts/shared/angular-material.min.css"
  rel="stylesheet" type="text/css">
  <!-- css CDNs -->

  <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.0/angular-material.min.css"-->
        <!--rel="stylesheet" type="text/css">-->

    <link href="/stylesheets/style.css"
          rel="stylesheet" type="text/css">
</head>
<body ng-app="kemetApp" ng-controller="MainCtrl as vm">

<main>
<ui-view></ui-view>
</main>


<!--<script src="node_modules/jquery/dist/jquery.js"></script>-->
<!--<script src="node_modules/angular/angular.js"></script>-->
<!--<script src="node_modules/angular-aria/angular-aria.js"></script>-->
<!--<script src="node_modules/angular-animate/angular-animate.min.js"></script>-->
<!--<script src="node_modules/angular-material/angular-material.js"></script>-->
<!--<script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>-->

<script src="/javascripts/shared/jquery.min.js"></script>
<script src="/javascripts/shared/angular.min.js"></script>
<script src="/javascripts/shared/angular-aria.min.js"></script>
<script src="/javascripts/shared/angular-animate.min.js"></script>
<script src="/javascripts/shared/angular-material.min.js"></script>
<script src="/javascripts/shared/angular-ui-router.min.js"></script>

 <!--javascript CDNs-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-animate.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-aria.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.0/angular-material.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>-->


    <!--Angular App-->
<script src="/javascripts/angularApp.js"></script>
    <!--Services-->
<script src="/javascripts/services/services.js"></script>
<script src="/javascripts/services/PlayFactory.js"></script>
<script src="/javascripts/services/MLFactory.js"></script>


    <!--controllers-->
<script src="/javascripts/controllers/MainCtrl.js"></script>
    <!--Directives-->
<script src="/javascripts/directives/directive.js"></script>




</body>
</html>