<a href="#/moves">Moves</a>
<a href="#/games">Games</a>

<div layout-gt-sm="row">
    <md-sidenav class="md-sidenav-left sidenav" md-component-id="left">
        <md-content role="navigation" layout="column">
            <!-------------------  Power Tile board  ------------------------------------>

            <div class="board" layout='column'  layout-margin>

                <div class="tile-section"  layout="row" layout-align
                        ="start center" layout-wrap flex="33">
                    <tile class="red-tile" flex="25"
                          data-ng-repeat="tile in vm.redTiles"
                          data-ng-show="vm.red"
                          data-ng-click="vm.buyTile(tile, $index)"
                          data-ng-dblclick=""
                          name="tile.name" img="tile.img">

                    </tile>
                </div>
                <div class="tile-section"  layout="row" layout-align
                        ="start center" layout-wrap flex="33">
                    <tile class="white-tile" flex="25"
                          data-ng-repeat="tile in vm.whiteTiles"
                          data-ng-show="vm.white"
                          data-ng-click="vm.buyTile(tile, $index)"
                          data-ng-dblclick=""
                          name="tile.name" img="tile.img">

                    </tile>
                </div>
                <div class="tile-section"  layout="row" layout-align
                        ="start center" layout-wrap flex="33">
                    <tile class="blue-tile" flex="25"
                          data-ng-repeat="tile in vm.blueTiles"
                          data-ng-show="vm.blue"
                          data-ng-click="vm.buyTile(tile, $index)"
                          data-ng-dblclick=""
                          name="tile.name" img="tile.img">

                    </tile>
                </div>

            </div>
        </md-content>
    </md-sidenav>
    <div class="center">
        <svg class="board" id="game-board" data-tabindex="0" viewBox = "0 0 675 450">


            <!---------------------- Playing board Locations ------------------------>


            <!------- Cities ----------->

            <polygon  data-ng-attr-points="{{vm.locations.redC1.points}}"
                      class="city space One"
                      id="{{vm.locations.redC1.name}}">
                     <!--data-ng-click="vm.storeLocation($event)" -->
                     <!--data-ng-dblclick="vm.recruit($event)"-->
            </polygon>
            <polygon data-ng-attr-points="{{vm.locations.whiteC1.points}}"
                     class="city space One"
                     id="{{vm.locations.whiteC1.name}}"
                     data-ng-click="vm.storeLocation($event)" data-ng-dblclick="vm.recruit($event)"></polygon>
            <polygon data-ng-attr-points="{{vm.locations.blueC1.points}}"
                     class="city space One"
                     id="{{vm.locations.blueC1.name}}"
                     data-ng-click="vm.storeLocation($event)" data-ng-dblclick="vm.recruit($event)"></polygon>

            <polygon data-ng-attr-points="{{vm.locations.redC2.points}}"
                     class="city space Two"
                     id="{{vm.locations.redC2.name}}"
                     data-ng-click="vm.storeLocation($event)" data-ng-dblclick="vm.recruit($event)"></polygon>
            <polygon data-ng-attr-points="{{vm.locations.whiteC2.points}}"
                     class="city space Two"
                     id="{{vm.locations.whiteC2.name}}"
                     data-ng-click="vm.storeLocation($event)" data-ng-dblclick="vm.recruit($event)"></polygon>
            <polygon data-ng-attr-points="{{vm.locations.blueC2.points}}"
                     class="city space Two"
                     id="{{vm.locations.blueC2.name}}"
                     data-ng-click="vm.storeLocation($event)" data-ng-dblclick="vm.recruit($event)"></polygon>

            <!------- Buffer/empty zones ----------->

            <polygon class="buffer space" id="{{vm.locations.buff1.name}}"
                     data-ng-attr-points="{{vm.locations.buff1.points}}"
                     data-ng-click="vm.storeLocation($event)"></polygon>
            <polygon class="buffer space" id="{{vm.locations.buff2.name}}"
                     data-ng-attr-points="{{vm.locations.buff2.points}}"
                     data-ng-click="vm.storeLocation($event)"></polygon>
            <polygon class="buffer space" id="{{vm.locations.buff3.name}}"
                     data-ng-attr-points="{{vm.locations.buff3.points}}"
                     data-ng-click="vm.storeLocation($event)"></polygon>
            <polygon class="buffer space" id="{{vm.locations.buff4.name}}"
                     data-ng-attr-points="{{vm.locations.buff4.points}}"
                     data-ng-click="vm.storeLocation($event)"></polygon>

            <!------- Temples ----------->

            <polygon class="temple space" id="{{vm.locations.temp1.name}}"
                     data-ng-attr-points="{{vm.locations.temp1.points}}"
                     data-ng-click="vm.storeLocation($event)"></polygon>
            <polygon class="temple space" id="{{vm.locations.temp2.name}}"
                     data-ng-attr-points="{{vm.locations.temp2.points}}"
                     data-ng-click="vm.storeLocation($event)"></polygon>
            <polygon class="temple space" id="{{vm.locations.temp3.name}}"
                     data-ng-attr-points="{{vm.locations.temp3.points}}"
                     data-ng-click="vm.storeLocation($event)"></polygon>

            <!------- Obelisks ----------->

            <polygon class="obelisk space" id="{{vm.locations.obel1.name}}"
                     data-ng-attr-points="{{vm.locations.obel1.points}}"
                     data-ng-click="vm.storeLocation($event)"></polygon>



            <!----------------------------- Player Armies ------------------------>
            <g class="armies" data-ng-repeat="player in vm.playerArray">
                <army class="army" data-ng-repeat="army in player.armies"
                      army-id="$index"
                      player-no = "$parent.$index"
                      size="army.size"
                      location="army.location"
                      creature="army.creature"
                      color="player.color"
                      posx="army.posx"
                      posy="army.posy">
                </army>
            </g>
            <!----------------------------- Player Turn markers ------------------------>
            <g class="action" data-ng-repeat="player in vm.playerArray"
               id="{{player.name}}">
                <rect data-ng-attr-x="{{player.turnMarker.posx}}" height="16" width="16"
                      data-ng-attr-y="{{player.turnMarker.posy}}" rx="2" ry="2"
                      class="turn-marker" style="fill: {{player.color}}"></rect>
            </g>

            <!----------------------------- Player Boards ------------------------>
            <g class="action" data-ng-repeat="player in vm.playerArray"
               id="{{player.name}}">
                <!--Prayer marker-->
                <polygon data-ng-repeat="button in player.buttons"
                         id="{{button.name}}"
                         data-ng-attr-points="{{button.points}}"
                         data-ng-dblclick=""
                         data-ng-click="vm.actionButton(button.effect, player.name, button.name)"
                         class="button {{button.class}}"></polygon>
            </g>
        </svg>



        <!----------------------------- General info ------------------------>
        <div layout-gt-sm="row" layout-align="space-around center">
            <md-button data-ng-click="vm.openLeftMenu()">Power Tiles</md-button>
            <span>{{vm.message}}</span>
            <span>Round: {{vm.round}}</span>
            <span data-ng-show="vm.gameOver">GAME OVER</span>
            <span>Game: {{vm.gameNo}}</span>
            <md-button hide-gt-md
                       data-ng-click="vm.openMenu('right')">Player
                Stuff</md-button>

        </div>
        <div layout="row" layout-align="space-around center" >
            <md-button class="md-primary" data-ng-click="vm.beginGame()"
                data-ng-hide="vm.gameStarted">Start Game</md-button>

            <md-button class="md-primary" data-ng-click="vm.simulation()"
                data-ng-show="vm.showExtraButtons">Simulation</md-button>
            <md-button class="md-primary" data-ng-click="vm.nextTurn()">Next Turn</md-button>

            <md-button data-ng-click="vm.nightPhase()"
                data-ng-show="vm.showExtraButtons">End Round</md-button>
            <!--<md-button data-ng-click="vm.hint()">hint</md-button>-->
            <md-button data-ng-click="vm.readyToFight()"
                data-ng-show="vm.showExtraButtons">CONTINUE</md-button>
        </div>

        <div layout-gt-sm="row" layout-margin layout-paddding>

            <div layout="column" flex="50" data-ng-repeat="player in vm.playerArray">

                <!-------------------- Battle Cards --------------------------------->
                <div data-ng-show="(player.isBuyingOffensiveStrategy ||
        player.isBuyingDefensiveStrategy) ||
        (vm.isBattlePhase && player.isTurn || player.showCards)">
                    <p>Player {{player.name}} battle cards</p>
                    <md-button data-ng-click="vm.selectBattleCard(player.name)">Select Battle Card</md-button>
                    <md-button data-ng-click="vm.discardBattleCard(player.name)">Discard Battle Card</md-button>
                    <md-button data-ng-click="vm.selectDICard(player.name)">Select DI Card</md-button>
                    <md-button data-ng-click="vm.discardDICard(player.name)">Discard DI Card</md-button>
                    <md-button data-ng-click="vm.fight(player.name)">Fight</md-button>


                    <div layout="row" layout-align="start center" layout-wrap>
                        <md-card data-ng-repeat="card in player.unplayedBattleCards"
                                 data-ng-dblclick=""
                                 data-ng-click="vm.applyBattleCard(card, $index, player.name)"
                                 class="{{player.name}} unplayed" flex-gt-sm="30">
                            <img data-ng-src="{{card.img}}">
                        </md-card>
                    </div>
                    <p>Player {{player.name}} cards for battle</p>
                    <div layout="row" layout-align="space-around center">
                        <md-card
                                data-ng-show="player.isSelectingVisionDICard || vm.isBattlePhase"
                                data-ng-repeat="card in player.fightCards"
                                class="{{player.name}} fight-cards">
                            <md-card-content> <h3>{{card.name | uppercase }}</h3>
                            </md-card-content>
                            <img data-ng-src="{{card.img}}">
                        </md-card>
                    </div>
                </div>

                <!------------------  Divine Intervention Cards ------------------------------>
                <div layout="row" layout-align="start center" layout-wrap>
                    <md-card data-ng-hide="player.name === 'Two'"
                             class="di-card {{player.name}}" flex-gt-sm="10"
                             data-ng-repeat="card in player.dICards"
                             data-ng-dblclick=""
                             data-ng-click="vm.applyDICard(card, $index, player.name)">
                        <md-card-content> <h3>{{card.name | uppercase }}</h3>
                        </md-card-content>
                        <img data-ng-src="{{card.img}}">
                    </md-card>
                    <md-card data-ng-show="player.name === 'Two'"
                             class="di-card {{player.name}}" flex-gt-sm="10"
                             data-ng-repeat="card in player.dICards"
                             data-ng-dblclick=""
                             data-ng-click="vm.applyDICard(card, $index, player.name)">
                        <md-card-content> <h3>DI CARD</h3>
                        </md-card-content>
                        <img data-ng-src="{{card.img}}">
                    </md-card>
                </div>
                <!----------------------------- Player Tiles ------------------------>

                <div layout="row" layout-align="space-around center">
                    <div layout="row" flex="33" layout-wrap>
                        <md-card class="tile" flex-gt-sm="50"
                                 data-ng-repeat="tile in player.redTiles"
                                 data-ng-dblclick=""
                                 data-ng-click="vm.powerTileFunction(tile, player)">
                            <md-card-content> <h3>{{tile.name | uppercase }}</h3>
                            </md-card-content> <img data-ng-src="{{tile.img}}"> </md-card>
                    </div>
                    <div layout="row" flex="33" layout-wrap>
                        <md-card class="tile" flex-gt-sm="50"
                                 data-ng-repeat="tile in player.whiteTiles"
                                 data-ng-dblclick=""
                                 data-ng-click="vm.powerTileFunction(tile, player)">
                            <md-card-content> <h3>{{tile.name | uppercase }}</h3>
                            </md-card-content> <img data-ng-src="{{tile.img}}"> </md-card>
                    </div>
                    <div layout="row" flex="33" layout-wrap>
                        <md-card class="tile" flex-gt-sm="50"
                                 data-ng-repeat="tile in player.blueTiles"
                                 data-ng-dblclick=""
                                 data-ng-click="vm.powerTileFunction(tile, player)">
                            <md-card-content> <h3>{{tile.name | uppercase }}</h3>
                            </md-card-content> <img data-ng-src="{{tile.img}}"> </md-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----------------   Player actions and info  ---------------------->
    <md-sidenav md-component-id="right" md-is-locked-open="$mdMedia('gt-md')"
                class="md-sidenav-right">

        <div layout-margin layout-paddding>

            <div flex-gt-md="50"
                 data-ng-repeat="player in vm.playerArray">
                <h3>Player {{player.name}}</h3>
                <md-button data-ng-click="vm.aiControl(player.name)">Toggle AI</md-button>
                <md-button data-ng-click="vm.showCards(player.name)">toggle Cards</md-button>

                <p>{{player.message}}</p>
                <div layout="row" layout-padding layout-wrap>
                    <div layout="column" layout-align="start start" flex="33">
                        <span><strong>Pyramids</strong></span>
                        <div layout="row">
                            <div class='red {{player.name}}'
                                 data-ng-dblclick=""
                                 data-ng-click="vm.upgradePyramid('red', player.name)">
                                {{player.redPyramidLevel}}
                            </div>
                            <div class='white'
                                 data-ng-dblclick=""
                                 data-ng-click="vm.upgradePyramid('white', player.name)">
                                {{player.whitePyramidLevel}}
                            </div>
                            <div class='blue'
                                 data-ng-dblclick=""
                                 data-ng-click="vm.upgradePyramid('blue', player.name)">
                                {{player.bluePyramidLevel}}
                            </div>

                        </div>
                        <span><strong>Prayer: </strong>{{player.prayer}}</span>
                        <span><strong>Points: </strong>{{player.points}}</span>
                        <span><strong>BatPts: </strong>{{player.battlePoints}}</span>
                        <span><strong>PyrdPts: </strong>{{player.pyramidPoints}}</span>


                    </div>

                    <div layout="column" layout-align="start start" flex="33">
                        <span><strong>Actions left: </strong>{{player.actionsLeft}}</span>
                        <span><strong>Attack: </strong>{{player.attackStrength}}</span>
                        <span><strong>Defense: </strong>{{player.defenseStrength}}</span>
                        <span><strong>PTmpPts: </strong>{{player.templePPoints}}</span>
                        <span><strong>TTmpPts: </strong>{{player.templeTPoints}}</span>
                    </div>

                    <div layout="column" layout-align="start start" flex="33">
                        <span><strong>Damage: </strong>{{player.damage}}</span>
                        <span><strong>Shield: </strong>{{player.shield}}</span>
                        <span><strong>Movement: </strong>{{player.movement}}</span>
                        <span><strong>TilePts: </strong>{{player.tilePoints}}</span>
                    </div>
                </div>
            </div>
        </div>
    </md-sidenav>
</div>

<hr>

