<a href="#/home">Home</a>
<a href="#/moves">Moves</a>
<div class="page-header">
    <h3>Games</h3>
</div>
<table border="0.5" >
        <tr>
            <th>Game</th>
            <th>Name</th>
            <th>Total Pts</th>
            <th>Attacks Initiated</th>
            <th>Battle Pts</th>
            <th>Temporary Temple Pts</th>
            <th>Permanent Temple Pts</th>
            <th>Tile Pts</th>
            <th>Pyramid Pts</th>
            <th>Tiles Bought</th>
        </tr>
        <tbody ng-repeat="game in vm.games | filter : vm.filterFunction">
        
        <tr style="background-color:lightblue">
            <td>{{ game.game }}</td>
            <td>Winner: {{ game.winner }}</td>
            <td>{{ game.winnerData.points }}/{{ game.loserData.points }} </td>
            <td>{{ game.winnerData.attacks }}/{{ game.loserData.attacks }} </td>
            <td>{{ game.winnerData.battlePoints }}/{{ game.loserData.battlePoints }}</td>
            <td>{{ game.winnerData.templeTPoints }}/{{ game.loserData.templeTPoints }}</td>
            <td>{{ game.winnerData.templePPoints }}/{{ game.loserData.templePPoints }}</td>
            <td>{{ game.winnerData.tilePoints }}/{{ game.loserData.tilePoints }}</td>
            <td>{{ game.winnerData.pyramidPoints }}/{{ game.loserData.pyramidPoints }}</td>
            <td>{{ game.winnerTiles.length }}/{{ game.loserTiles.length }}</td>

        </tr>
        </tbody>

    <!--<tr ng-repeat="move in game.moves">-->
        <!--<td>{{move.game}}</td>-->
        <!--<td>{{move.player}}</td>-->
        <!--<td>{{move.round}}</td>-->
        <!--<td>{{move.turn}}</td>-->
        <!--<td>{{move.result}}</td>-->
        <!--<td ng-repeat="actionParam in move.action track by $index">{{actionParam}}</td>-->
    <!--</tr>-->
</table>