<a href="#/home">Home</a>
<a href="#/games">Games</a>

    <div class="page-header">
        <h3>Moves</h3>
    </div>
    <table border="1">
        <tr>
            <th>Game</th>
            <th>player</th>
            <th>round</th>
            <th>turn</th>
            <th>result</th>
            <th>actions</th>

        </tr>

        <tr ng-repeat="move in vm.moves">
            <td>{{move.game}}</td>
            <td>{{move.player}}</td>
            <td>{{move.round}}</td>
            <td>{{move.turn}}</td>
            <td>{{move.result}}</td>
            <td ng-repeat="actionParam in move.action track by $index">{{actionParam}}</td>
        </tr>
    </table>
