

$width: 100%;
$height: $width/1.5;
$div-height : $height *0.1;
$pyramid-height: 25px;
$army-height: $div-height/3;
$army-width: $army-height;
$prayer-width: $width*0.025;
$prayer-height: $prayer-width*2;
$player-board-width: 25%;
$player-board-height: $player-board-width * 480/380;
$bx: $width * 0.1;
$by: $height * 0.1;

$stroke: white;

body {
  text-align: center;
  margin-left: 1px;

}

div.board {
  height: 100%;
  min-height: 500px;

}
.ng-scope {
  height: 100%;
}
div.center {
  width: 100%;
  max-width: 850px;
}

#game-board {
  background: url("/img/2p-board-h-full.jpg") left top no-repeat;
  background-size: $width, $height;
  height: $height;
  width: $width;
  x: 0;
  y: 0;
  stroke: $stroke;
}

g {
  stroke: $stroke;
  stroke-width: 2;
}

g.army {
  rect {
    opacity: 0.8;
    stroke: transparent;
  }
  height: $army-height;
  width: $army-width;
  line-height: $army-height;

}

g.action {
  opacity: 0.8;
  stroke: transparent;
}

g[data="heaven"] {
  display: none;
}

rect.prayer {
  height: $prayer-height;
  width: $prayer-width;
  fill: green;
  stroke: green;
  opacity: 0.5;
}

polygon.space {
  opacity: 0.2;
}

polygon.turn-marker {
  fill: purple;
}

polygon {
  fill: transparent;
  opacity: 0.5;
  stroke: transparent;
}

text {
  font-family: Verdana sans-serif;
  fill: black;
  stroke: black;
  font-size: 20px;

}

div.red {
  background-color: red;
  color: white;
  width: $pyramid-height;
  height: $pyramid-height;
  font-size: $pyramid-height;

}

div.white {
  background-color: white;
  width: $pyramid-height;
  height: $pyramid-height;
  font-size: $pyramid-height;

}
div.blue {
  background-color: blue;
  width: $pyramid-height;
  color: white;
  height: $pyramid-height;
  font-size: $pyramid-height;

}

//This targets the available tiles
tile.tile {
  md-card {
    margin: 0;
    font-size: 5px;


    md-card-content {
      padding: 3px;
      line-height: 5px;
      height: 5px;
    }

    h3 {
      margin: 0;
    }
  }
}
//this targets the bought tiles

md-card {
  margin: 0;
  font-size: 5px;


  md-card-content {
    padding: 3px;
    line-height: 5px;
    height: 5px;
  }

  h3 {
    margin: 0;
  }
}

//this targets tables

th {
  padding: 5px;
}


