body {
  text-align: center;
  margin-left: 1px; }

div.board {
  height: 100%;
  min-height: 500px; }

.ng-scope {
  height: 100%; }

div.center {
  width: 100%;
  max-width: 850px; }

#game-board {
  background: url("/img/2p-board-h-full.jpg") left top no-repeat;
  background-size: 100%, 66.66667%;
  height: 66.66667%;
  width: 100%;
  x: 0;
  y: 0;
  stroke: white; }

g {
  stroke: white;
  stroke-width: 2; }

g.army {
  height: 2.22222%;
  width: 2.22222%;
  line-height: 2.22222%; }
  g.army rect {
    opacity: 0.8;
    stroke: transparent; }

g.action {
  opacity: 0.8;
  stroke: transparent; }

g[data="heaven"] {
  display: none; }

rect.prayer {
  height: 5%;
  width: 2.5%;
  fill: green;
  stroke: green;
  opacity: 0.5; }

polygon.space {
  opacity: 0.2; }

polygon.turn-marker {
  fill: purple; }

polygon {
  fill: transparent;
  opacity: 0.5;
  stroke: transparent; }

text {
  font-family: Verdana sans-serif;
  fill: black;
  stroke: black;
  font-size: 20px; }

div.red {
  background-color: red;
  color: white;
  width: 25px;
  height: 25px;
  font-size: 25px; }

div.white {
  background-color: white;
  width: 25px;
  height: 25px;
  font-size: 25px; }

div.blue {
  background-color: blue;
  width: 25px;
  color: white;
  height: 25px;
  font-size: 25px; }

tile.tile md-card {
  margin: 0;
  font-size: 5px; }
  tile.tile md-card md-card-content {
    padding: 3px;
    line-height: 5px;
    height: 5px; }
  tile.tile md-card h3 {
    margin: 0; }

md-card {
  margin: 0;
  font-size: 5px; }
  md-card md-card-content {
    padding: 3px;
    line-height: 5px;
    height: 5px; }
  md-card h3 {
    margin: 0; }

  table {
    margin-bottom: 50px;
  }

th {
  padding: 5px;
}

/*# sourceMappingURL=style.css.map */
